# Haskell
/dist/
/dist-newstyle/
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
.hpc
.hsenv
cabal.project.local
cabal.project.local~

# Haddock
/doc/reference

# JavaScript
build/
prebuilds/
node_modules/

# Python
.venv/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
